body {
    background-color: rgb(132, 132, 130);
}

.one {
    background-color: rgb(106, 106, 106);
    height: 800px;
    width: 400px;
    margin-left: 50%;
    margin-top: 30px;
}

.two {
    border: 1px solid orange;
    background-image: url("assets/44-min.jpg");
    background-size: cover;
    height: 400px;
    width: 700px;
    position: absolute;
    top: 90px;
    right: 290px;
    z-index: 1;
    margin-left: 50%;
}

.three {
    opacity: 88%;
    /* border: 1px solid rgb(11, 18, 18); */
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    gap: 10px;
    z-index: 3;
    margin: -400px 270px;
}

.subclass {
    padding: 10px;
    box-shadow: 1px 2px 11px 4px rgb(14 55 54 / 15%);
    /* border: 1px solid black; */
    background-color: rgb(235, 229, 229);
    color: #100f0f;
    width: 200px;
    height: 300px;
}

.container {
    background-color: white;
}

.logo {
    color: #464444ed;
    font-size: 20px;
    margin-left: 40px;
    height: 40px;
}
.footer {
    background-color: #100f0f;
    color: aliceblue;
     display: flex;
     height: 10vh;
     align-items: center;
     justify-content: center;    
}
@media screen and (max-width:768px) {
    .one {
        height: 100%;
    }

    .two {
        height: 400px;
        width: 560px;
        right: 128px;
        position: absolute;
    }

    .three {
        position: absolute;
        top: 830px;
        width: 415px;
        right: -100px;
        /* height:100px; */

    }
    @media screen and (max-width:320px) {
    
        .two{
          width: 295px;
          right: 16px;
          position: absolute;
          height: 175px;
        }
        .three {
         position: absolute;
         top: 640px;
         height: 200px;
         width: 200px;
         /* left: -160px; */
         left: -215px;
        }
    }
}
